[submodule "active-adaptation"]
	path = active-adaptation
	url = git@github.com:Agent-3154/active-adaptation.git
	branch = dev/hdmi
[submodule "mimic-lite"]
	path = mimic-lite
	url = git@github.com:EGalahad/mimic-lite.git
	branch = main
[submodule "sim2real"]
	path = sim2real
	url = git@github.com:EGalahad/sim2real.git
	branch = main
