[submodule "training/active-adaptation"]
	path = training/active-adaptation
	url = git@github.com:Agent-3154/active-adaptation.git
	branch = dev/hdmi
[submodule "deploy/sim2real"]
	path = deploy/sim2real
	url = git@github.com:EGalahad/sim2real.git
	branch = main
